<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean class="com.takeo.model.Student" id="stu">
<property name="sno"><value>100</value></property>
<property name="sname"><value>Sarita</value></property>
<property name="lname"><value>Adhikari</value></property>
<property name="sadd"><value>Boston</value></property>
</bean>
</beans>
